body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 10px;
}

.container {
    /* height: 100vh; */
    aspect-ratio: 1 / 1;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
}

.row {
    flex: 1;
    display: flex;
}

.square {
    flex: 1;
    border: 1px dotted black;
    aspect-ratio: 1 / 1;
}

.square:hover {
    opacity: 0.1;
}