* {
    font-family: monospace;
    margin: 0;
    padding: 0;
}

.btns {
    display: flex;
    justify-content: center;
    margin: 4px 0;
}

button {
    background: white;
    font-size: 16px;
    padding: 4px 12px;
    border-radius: 8px;
    border-bottom: 4px solid black;
}

button:active {
   background: black;
   color: white;
}

.grid-container {
    height: 90vh;
    aspect-ratio: 1 / 1;
    margin: 0 auto;
    border: 2px solid black;
    border-bottom: 4px solid black;
    display: flex;
    flex-direction: column;
}

.row {
    flex: 1;
    display: flex;
}

.square {
    flex: 1;
    border: 1px dotted black;
    /* aspect-ratio: 1 / 1; */
}

.square:hover {
    opacity: 0.5;
}